<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">


<head>
    <title>Rpi Wifi Config</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller="AppController">

    <div class = "page-header">
        <i class = "fa fa-rocket"></i> Rπ Wifi Config
        <a href = "#" ng-click = "rescan()">
            <i class = "fa fa-refresh"></i>
        </a>
    </div>

    <div class = "page-content">
        <div class = "scan-results-container">
            <div class = "header">Choose a Wifi Ap:</div>
            <div class = "scan-result" ng-repeat = "cell in scan_results | orderBy:'signal_strength':true">
                <div class = "ssid">{{ cell.ssid }}</div>
                <div class = "signal_stength">{{ cell.signal_strength }}</div>
            </div>
        </div>
    </div>

    <!-- Scripts load last -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.js"></script>
    <script src="/app.js"></script>
</body>
</html>


