# armbian-wifi-conf.service
[Unit]
Description=Armbian Wifi Config
AssertPathExists=/opt/armbian-wifi-conf
After=wpa_supplicant@.service

[Service]
Type=oneshot
WorkingDirectory=/opt/armbian-wifi-conf
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target